<html>
<head>
  <meta charset="utf-8" />
  <title="login">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
  <h1>ASTERISM</h1>

  <div class="intro">
    <p>アステリズムは、学生のクリエイティヴな活動を支援することを目的とした、<br>人材のマッチングプラットフォームです。<br>
    掲示板形式のページに募集の書き込みを行うと、<br>ユーザーがそれに応募できるようになっています。<br>
    また、自主制作映画のロケ地探しに役立つ地図にもアクセスできます。<br>
  </p>
  </div>

  <% if flash[:error_message] %>
    <div class="error"><%=flash[:error_message] %></div>
  <%end%>

  <div class="inp" width="500">
  <%= form_tag("/login",method: :post) do %>
    <%= label_tag "名前" %>
    <%= text_field_tag :username%><br>
    <%= label_tag "パスワード" %>
    <%= password_field_tag :password%><br>
    <%= submit_tag "ログイン" %>
  <% end %>
  </div>
  <div class="button">
    <a href="/register" class="square_btn">新規登録はこちらから</a><br>
  </div>
</body>
</html>
