
<h1>プロジェクト作成</h1>

<%= form_tag("/board/create", method: :post) do %>
	<%= label_tag "タイトル" %><br>
	<%= text_field_tag :title %><br>
	<%= label_tag "内容" %><br>
	<%= text_area_tag :content %><br>
	<%= label_tag "ジャンル" %><br>
<select id="select">
	<option value="1">映画</option>
	<option value="2">演劇</option>
	<option value="2">3</option>
	<option value="2">4</option>
</select><br><br>
	<%= submit_tag "送信" %>
<% end %>

<div>
　例<br>
 プロジェクトタイトル：劇団屍鬼<br>
　募集内容：キャスト募集：5名<br>
　補足情報：期間三か月：<br>
　連絡先：000-0000-0000：屍鬼@gmail.com<br>
</div>

<a href="/">TOPに戻る</a><br>
